body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#004aad;
color:white;
text-align:center;
padding:20px;
}

.logo{
width:80px;
}

nav{
background:#222;
text-align:center;
padding:10px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-size:18px;
}

.hero{
background:#e3f2fd;
padding:60px;
text-align:center;
}

.hero button{
padding:12px 25px;
background:#004aad;
color:white;
border:none;
font-size:16px;
}

.box{
background:white;
margin:20px;
padding:25px;
border-radius:10px;
text-align:center;
}

.advisor{
width:150px;
border-radius:50%;
margin:15px;
}

.cards{
display:flex;
justify-content:center;
flex-wrap:wrap;
}

.card{
background:#fafafa;
margin:10px;
padding:20px;
width:220px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

input,textarea{
width:80%;
padding:10px;
margin:10px;
border:1px solid #ccc;
}

button{
padding:10px 20px;
background:#004aad;
color:white;
border:none;
}

footer{
background:#004aad;
color:white;
text-align:center;
padding:15px;
}

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
padding:15px;
border-radius:30px;
text-decoration:none;
}